ul.nav.nav-pills.nav-stacked.nav-docs
    li(class="#{ current.source == 'installation' ? 'active' : '' }")
        a(href="#{baseUrl}/lessons/recipes/Lecture1_ru") Введение
    li
        h1 Лекции
    li(class="#{ current.source == 'Lecture1_ru' ? 'active' : '' }")
        a(href="#{baseUrl}/lessons/recipes/Lecture1_ru") Семинар 1. Основы
    li(class="#{ current.source == 'Lecture2_ru' ? 'active' : '' }")
        a(href="#{baseUrl}/lessons/recipes/Lecture2_ru") Семинар 2. Факторы и таблицы
    li(class="#{ current.source == 'Lecture3_ru' ? 'active' : '' }")
        a(href="#{baseUrl}/lessons/recipes/Lecture3_ru") Семинар 3. Циклы и графика
    li
        h1 Ссылки
    li
        a(href="http://r.psylab.info/library/") Библиотека материалов по R
    li
        a(href="http://datacamp.com") Datacamp - обучение R
    li 
        a(href="http://www.ievbras.ru/ecostat/Kiril/R/Mastitsky%20and%20Shitikov%202014.pdf") Учебник по R от Мастицкого и Шитикова
