ul.nav.nav-pills.nav-stacked.nav-docs
    li(class="#{ current.source == 'installation' ? 'active' : '' }")
        a(href="#{baseUrl}/lessons/installation") Введение
    li
        h1 Лекции
    li(class="#{ current.source == 'customize-bootstrap' ? 'active' : '' }")
        a(href="#{baseUrl}/lessons/recipes/Lecture1_ru") Семинар 1. Основы
    li(class="#{ current.source == 'themes' ? 'active' : '' }")
        a(href="#{baseUrl}/lessons/recipes/Lecture2_ru") Семинар 2. Факторы и таблицы
    li(class="#{ current.source == 'host-in-subdirectory' ? 'active' : '' }")
        a(href="#{baseUrl}/lessons/recipes/Lecture3_ru") Семинар 3. Циклы и графика
    li
        h1 Ссылки
    li
        a(href="http://r.psylab.info/library/") Библиотека материалов по R
    li
        a(href="http://datacamp.com") Datacamp - обучение R